{% load static %}
<style>
    *{
        margin: 0;
    }
</style>
<a name="top"></a>
<div class="" style="background-color: purple; width:100% ;min-height:100px;max-height:1000px">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-3">
            <h3 class="text-white">Devloped By-</h3>
            <p style="color:yellow; font-size: 18px"><i class="fa-solid fa-user" style="color:red"></i>  Priya Maurya </p>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-envelope text-danger"></i>   ppdoodles@51gmail.com</p>
            <p style="color:yellow; font-size: 18px"><i class="fa fa-mobile text-danger"></i>   P:  7834666532</p>
        </div>

        <div class="col-md-6 mt-3">
        <h3 class="text-white">About E-Green Gas</h3>
        <p style="color:yellow; font-size:18px">Green gases are renewable and low carbon gases that can be used in place of fossil fuels, reducing carbon emissions in the heat, power, and transport sectors. They include biomethane, bio-propane, and hydrogen.</p>
    </div>

    <div class="col-md-3 mt-3">
        <h3 class="text-white">Current News</h3>
        <marquee scrollamount="3" behavior="" direction="up">
        <p style="color:yellow; font-size:18px">Without mask no entry for enquiry. Due to COVID19 be safe.</p>

        </marquee>
    </div>
    </div>
</div>
</div>

<a name="down"></a>
